In [22]:
# Multi-Robot APF Results Analysis
# This notebook analyzes the performance results from different test configurations

In [23]:
from results_report import *

In [24]:
#
tables = get_performance_tables(path='./tests', nd='2D', metric='operation_time')

for map_id, table in tables.items():
    # add a row in wich number of the best method for each n_robots is shown
    best_methods = table.idxmin(axis=0)
    best_row = pd.DataFrame(best_methods).T
    best_row.index = ['Best Method']
    table = pd.concat([table, best_row])
    # Display the updated table
    print(f"\nPerformance Table for Map ID: {map_id}")
    display(table)

Performance Table for Map ID: 1

n_robots,4,5,6,7,8,9,10,11,12,13,14,15
44,46.82,27.94,24.69,26.64,25.9,30.7,51.35,25.72,28.8,36.20,43.10,40.89
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.93,31.19,38.08
Best Method,44.00,44.00,44.00,44.00,44.0,44.0,44.00,44.00,44.0,44.00,55.00,55.00

In [25]:
# row 55 - row 44
# first row in tables[1]
a = tables[1].loc[55] - tables[1].loc[44]
np.sum(a.values)

nan

2198.0