In [10]:
# Multi-Robot APF Results Analysis
# This notebook analyzes the performance results from different test configurations

In [11]:
import json
import pandas as pd
import numpy as np
import os
from pathlib import Path
import matplotlib.pyplot as plt
# import seaborn as sns
from typing import Dict, List, Any

# Set up plotting style
plt.style.use('default')
# sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [12]:
def load_all_results(base_dir: str = '.') -> pd.DataFrame:
    results = []
    base_path = Path(base_dir)

    # Find all res.json files in subdirectories
    for json_file in base_path.rglob('res.json'):
        try:
            with open(json_file, 'r') as f:
                data = json.load(f)

            # Add folder name for reference
            data['folder_name'] = json_file.parent.name
            results.append(data)
            # print(f"Loaded: {json_file}")

        except Exception as e:
            print(f"Error loading {json_file}: {e}")

    if not results:
        print("No res.json files found!")
        return pd.DataFrame()

    df = pd.DataFrame(results)

    # #
    # print(f"\nLoaded {len(df)} result files")
    # print(f"Columns: {list(df.columns)}")

    return df

In [13]:
def refine_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    # Drop rows with nD == 3D
    df = df[df['nD'] != '3D']

    # Only keep relevant columns
    relevant_columns = ['map_id', 'n_robots', 'method', 'success', 'operation_time', 'total_length', 'max_steps']
    df = df[relevant_columns]

    return df

In [14]:
# group by map_id and create tables for each map
def map_tables(df: pd.DataFrame) -> Dict[str, pd.DataFrame]:
    tables = {}
    for map_id, map_data in df.groupby('map_id'):
        tables[map_id] = map_data
    return tables

In [15]:
def create_performance_tables(tables: Dict[str, pd.DataFrame], metric: str) -> Dict[int, pd.DataFrame]:
    #  create table from df (which is for a specific map), columns are n_robots, index are methods, values are metric
    p_tables = {}
    for i, df in tables.items():
        table = df.pivot_table(index='method', columns='n_robots', values=metric, aggfunc=np.mean)
        p_tables[i] = table
    return p_tables

In [16]:
# Load all results
df_all = load_all_results('./static_tests')
df_all = refine_dataframe(df_all)
df_all.head(5)

   map_id  n_robots  method  success  operation_time  total_length  max_steps
0       1         3       2     True            1.18         16.23        977
1       1        13       1     True            4.21         62.50       1801
2       1         3       1     True            1.45         16.69       1390
3       1         6       1     True            1.98         33.62       1382
4       1         5       2     True            1.86         27.13        915

In [17]:
#
tables = map_tables(df_all)
tables = create_performance_tables(tables, metric='max_steps')
for map_id, table in tables.items():
    print(f"\nPerformance Table for Map ID: {map_id}")
    display(table)

Performance Table for Map ID: 1

n_robots,2,3,4,5,6,7,8,9,10,11,12,13,14
method,,,,,,,,,,,,,
1,1384.0,1390.0,1394.0,1390.0,1382.0,1457.0,1473.0,1645.0,1889.0,2056.0,1499.0,1801.0,2039.0
2,821.0,977.0,844.0,915.0,889.0,10938.0,1023.0,1240.0,2096.0,47166.0,0.0,NaN,NaN

In [18]:
# def analyze_method_performance(df: pd.DataFrame):
#     """
#     Detailed analysis of method performance
#     """
#     print("=== METHOD PERFORMANCE ANALYSIS ===\n")

#     for map_id in sorted(df['map_id'].unique()):
#         map_data = df[df['map_id'] == map_id]
#         print(f"MAP {map_id} Analysis:")
#         print("-" * 30)

#         # Best method for each metric and robot count
#         metrics = ['operation_time', 'total_length']

#         for n_robots in sorted(map_data['n_robots'].unique()):
#             robot_data = map_data[map_data['n_robots'] == n_robots]
#             print(f"\n  {n_robots} Robots:")

#             for metric in metrics:
#                 if metric in robot_data.columns:
#                     best_method = robot_data.loc[robot_data[metric].idxmin(), 'method']
#                     best_value = robot_data[metric].min()
#                     worst_value = robot_data[metric].max()
#                     improvement = ((worst_value - best_value) / worst_value * 100)

#                     print(f"    {metric}: Method {best_method} (Best: {best_value:.2f}, "
#                           f"Improvement: {improvement:.1f}%)")

#         print("\n" + "="*50 + "\n")


# # Analyze method performance
# analyze_method_performance(df_all)