In [3]:
# Multi-Robot APF Results Analysis
# This notebook analyzes the performance results from different test configurations

In [4]:
from results_report import *

In [5]:
#
tables = get_performance_tables(path='./static_tests', nd='2D', metric='max_steps')

for map_id, table in tables.items():
    # add a row in wich number of the best method for each n_robots is shown
    best_methods = table.idxmin(axis=0)
    best_row = pd.DataFrame(best_methods).T
    best_row.index = ['Best Method']
    table = pd.concat([table, best_row])
    # Display the updated table
    print(f"\nPerformance Table for Map ID: {map_id}")
    display(table)

Performance Table for Map ID: 1

n_robots,2,3,4,5,6,7,8,9,10,11,12,13,14
1,1433.0,1435.0,1441.0,1468.0,1446.0,1487.0,1624.0,1512.0,2601.0,1584.0,1682.0,1718.0,NaN
2,835.0,843.0,877.0,845.0,947.0,968.0,927.0,928.0,991.0,1288.0,1684.0,1108.0,1280.0
3,835.0,843.0,877.0,845.0,947.0,968.0,927.0,928.0,991.0,1288.0,1684.0,1108.0,1280.0
4,NaN,NaN,NaN,NaN,NaN,NaN,1021.0,NaN,NaN,NaN,NaN,NaN,NaN
22,835.0,848.0,1115.0,993.0,889.0,1001.0,1238.0,1063.0,1175.0,1229.0,1442.0,1362.0,1351.0
33,835.0,851.0,907.0,899.0,915.0,1052.0,910.0,983.0,997.0,1042.0,1185.0,1224.0,1258.0
44,835.0,850.0,918.0,849.0,866.0,880.0,999.0,1105.0,1115.0,1073.0,1202.0,1141.0,1141.0
55,833.0,848.0,916.0,847.0,864.0,877.0,1021.0,1069.0,1099.0,1086.0,1129.0,1651.0,1158.0
Best Method,55.0,2.0,2.0,2.0,55.0,55.0,33.0,2.0,2.0,33.0,55.0,2.0,44.0

In [6]:
# row 55 - row 44
# first row in tables[1]
a = tables[1].loc[44] - tables[1].loc[33]
np.sum(a.values)

-84.0

2198.0